<mat-toolbar class="mat-elevation-z6" color="primary">
    <span>Busca de repositórios do GitHub</span>
</mat-toolbar>

<div fxLayout=row fxLayoutAlign="center center">
    <mat-form-field>
        <mat-label>Usuário do GitHub</mat-label>
        <input matInput>
    </mat-form-field>
    <div fxLayoutAlign="center center">
        <button mat-mini-fab (click)="getRepositoriesByUser('italomendes')">
          <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
    
<div class="repo-list">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem Ipsum
          </mat-panel-title>
          <mat-panel-description>
            Lorem Ipsum
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros odio, sodales faucibus rhoncus id, rhoncus vitae nibh. Integer dignissim euismod est, vel blandit nunc sollicitudin ut.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem Ipsum
          </mat-panel-title>
          <mat-panel-description>
            Lorem Ipsum
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros odio, sodales faucibus rhoncus id, rhoncus vitae nibh. Integer dignissim euismod est, vel blandit nunc sollicitudin ut.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lorem Ipsum
          </mat-panel-title>
          <mat-panel-description>
            Lorem Ipsum
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros odio, sodales faucibus rhoncus id, rhoncus vitae nibh. Integer dignissim euismod est, vel blandit nunc sollicitudin ut.
    </mat-expansion-panel>
</div>

