<loading-topbar></loading-topbar>
<mat-toolbar class="mat-elevation-z6" color="primary">
    <span>Busca de repositórios do GitHub</span>
</mat-toolbar>

<div fxLayout=row fxLayoutAlign="center center">
    <mat-form-field>
        <mat-label>Usuário do GitHub</mat-label>
        <input matInput [(ngModel)]="userName" (keyup.enter)="getRepositoriesByUser(userName)">
    </mat-form-field>
    <div class="search-button" fxLayoutAlign="center center">
        <button mat-mini-fab (click)="getRepositoriesByUser(userName)">
          <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
    
<div class="repo-list">
    <div *ngIf="(repositories$ | async) === null" fxLayout=row fxLayoutAlign="center center">
        Usuário não encontrado!
    </div>

    <div *ngIf="(repositories$ | async)?.length === 0 && !pageIsPristine" fxLayout=row fxLayoutAlign="center center">
        Usuário sem repositórios!
    </div>

    <div *ngFor="let repository of repositories$ | async">
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{repository?.name}}
              </mat-panel-title>
              <mat-panel-description fxLayoutAlign="end stretch">
                <div fxHide.xs style="margin-right: 5px">Criado em:</div>
                <div>{{repository?.created_at | date:'dd/MM/yyyy'}}</div>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <p *ngIf="repository?.description">Descrição: {{repository?.description}}</p>
            <p><a href="{{repository?.svn_url}}" target="_blank">Visitar repositório</a></p>
        </mat-expansion-panel>
    </div>
</div>

